.editor_wrap {
    height: calc(100vh - 124px);
    overflow: hidden;
    user-select: none;
}
.oreo-editor {
    position: relative;
    height: calc(100vh - 124px);
    display: flex;
    // transform: rotate(10deg);
    .arco-collapse-item-content {
        background-color: #ffffff;
    }
    .arco-input-prepend, .arco-input-append {
        font-size: 12px;
        padding:  0 10px;
    }
    .arco-collapse-item-active > .arco-collapse-item-header {
        border-color: transparent;
    }
    // .arco-select-view-single.arco-select-view-size-small .arco-select-view-input, .arco-select-view-single.arco-select-view-size-small .arco-select-view-value
    // {
    //     font-size: 12px;
    //     padding-top: -2px;
    // }
    .arco-input-prepend {
        color: #999;
    }
    .arco-input-wrapper {
        padding-left: 7px;
        .arco-input-number-mode-embed .arco-input-number-step {
            right: 2px;
        }
    }
    .layers {
        flex: 0 0 220px;
        width: 220px;
        height: calc(100vh - 124px);
        border-right: 1px solid #efefef;
        position: relative;
        z-index: 2;
        .tools {
            position: absolute;
            right: -72px;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            flex-direction: column;
        }

        &::after {
            content: '';
            display: block;
            width: 22px;
            height: 20px;
            background-color: #ffffff;
            position: absolute;
            top: 0;
            right: -22px;
            z-index: 1;
            border-left: 1px solid #efefef;
            border-right: 1px solid #efefef;
            border-bottom: 1px solid #efefef;
        }
        .arco-tree-node {
            .v-icon {

            color: #999;
                display: none;
            }
            &:hover .v-icon {
                display: inline-flex;
            }
        }
    }
    .boxSelectHelper {
        position: fixed;
        z-index: 999;
        background: rgba(104, 104, 249, 0.2);
        border: 1px solid rgb(104, 104, 249);
    }
    .helper {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
    }
    .top_ruler {
        position: absolute;
        left: 220px;
        top: 0;
        border-bottom: 1px solid #efefef;
    }

    .left_ruler {
        position: absolute;
        right: -22px;
        top: 0;
        border-right: 1px solid #efefef;
    }
    .work-area {
        flex: 0 0 calc(100% - 466px);
        position: relative;
        height: calc(100vh - 124px);
        overflow: auto;
        padding: 20px 20px;
        textarea {
            resize: none;
          }
        &.cursorText{
            cursor: text;
        }
        &.cursorCross{
            cursor: crosshair;
        }
        &.cursorGrab{
            cursor: grab;
        }
        .work_content {
            width: 1080px;
            position: relative;
            left: 80px;
            top: 80px;
            height: 1600px;

        }

        .ref-line {
            position: absolute;
            // background-color: rgb(var(--v-theme-primary)) !important;
            background: yellowgreen;
            z-index: 9999;
        }

        .v-line {
            width: 1px;
        }

        .h-line {
            height: 1px;
        }

        // 拖拽
        .vdr {
            touch-action: none;
            position: absolute;
            box-sizing: border-box;
            border: 1px dashed transparent;
            &.active {
                cursor: move;
                &::before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    border: 1px dashed rgb(86, 86, 245);
                }
            }
            &.selected {
                &::before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    border: 1px solid rgb(86, 86, 245);
                }
            }
            // &.virtualGroup {
            //     &::before {
            //         content: '';
            //         display: block;
            //         width: 100%;
            //         height: 100%;
            //         position: absolute;
            //         left: 0;
            //         top: 0;
            //         border: 1px solid rgb(86, 86, 245);
            //     }
            // }

        }
        // .vdr.active {
        //     cursor: move;
        //     border: 1px dashed rgb(86, 86, 245);
        // }

        .handle {
            box-sizing: border-box;
            position: absolute;
            width: 8px;
            height: 8px;
            background: #ffffff;
            border: 0.5px solid rgb(86, 86, 245);
            box-shadow: 0 0 2px #bbb;
        }

        .handle-tl {
            top: -5px;
            left: -5px;
            cursor: nw-resize;
        }


        .handle-tr {
            top: -5px;
            right: -5px;
            cursor: ne-resize;
        }

        .handle-ml {
            top: 2%  !important;
            height: 96% !important;
            opacity: 0;
            cursor: w-resize;
        }

        .handle-mr {
            top: 2%  !important;
            height: 96% !important;
            opacity: 0;
            right: -5px;
            cursor: e-resize;
        }

        .handle-bl {
            bottom: -5px;
            left: -5px;
            cursor: sw-resize;
        }

        .handle-bm {
            bottom: -5px;
            width: 98% !important;
            opacity: 0;
            left: 1% !important;
            cursor: s-resize;
        }
        .handle-tm {
            top: -5px;
            width: 98% !important;
            opacity: 0;
            left: 1% !important;
            cursor: n-resize;
        }

        .handle-br {
            bottom: -5px;
            right: -5px;
            cursor: se-resize;
        }

        @media only screen and (max-width: 768px) {
            [class*='handle-']:before {
                content: '';
                left: -10px;
                right: -10px;
                bottom: -10px;
                top: -10px;
                position: absolute;
            }
        }
    }
    .customizes_wrap {
        flex: 0 0 246px;
        width: 246px;
        overflow-y: auto;
        height: calc(100vh - 124px);
        border-left: 1px solid #efefef;
        position: relative;
        z-index: 2;
        .arco-row {
            align-items: center;
        }
        .align_group {
            .v-btn+ .v-btn {
                margin-left: 4px;
            }
        }
    }

    .input_item {
        display: flex;
        align-items: center;
        margin: 0 16px 16px 16px;
        .label {
            color: rgb(128,128,128);
            width: 77.4px;
        }
        .input {
            flex: 1;
            margin-left: 8px;
            width: 70px;
            height: 32px;
            border-radius: 43px;
            padding: 0 8px;
            background: #efefef;
            border: 0;
        }
    }
    .item_text {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;

    }
    .textarea {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;

    }
}
