# Logs
logs
*.log
npminstall-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
dev-dist
coverage
*.local

stage.glb

/public/forest_house.glb
/public/zombie77/
/public/mond/
/public/smier/
/public/city.glb
/cypress/videos/
/cypress/screenshots/

# Editor directories and files
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
