.d-flex {
    align-items: center;
}

.jsb {
    justify-content: space-between;
}

.arphl {
    background-color: #ddffe9;
}
.NeuralBg, .silk-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    .silk-canvas {
        display: block;
        width: 100% !important;
        height: 100% !important;
    }
}
.v-field__outline {
    color: rgba(var(--v-theme-on-surface), var(--v-border-opacity));
    --v-field-border-opacity: 1 !important;
}
.v-navigation-drawer .v-list {
    position: relative;
    left: -1px;
}
.apexcharts-svg {
    background-color: transparent !important;
}
.text-h7 {
    font-size: 16px;
    font-weight: 500;
}
.v-card {
    border-radius: 6px;
}
.shadowCard {
    .v-card {
        box-shadow: rgba(146, 158, 171, 0.302) 0 0 2px,rgba(145, 158, 171, 0.122) 0 12px 24px -4px;
        &.elevation-0 {
            box-shadow: none;
        }
    }
    .layout_navigation {
        box-shadow: rgba(146, 158, 171, 0.302) 0 0 2px,rgba(145, 158, 171, 0.122) 0 12px 24px -4px;
        &.elevation-0 {
            box-shadow: none;
        }
    }
}

.v-menu > .v-overlay__content > .v-card, .v-menu > .v-overlay__content > .v-sheet, .v-menu > .v-overlay__content > .v-list {
    border-radius: 6px !important;
    box-shadow: rgba(146, 158, 171, 0.302) 0 0 2px,rgba(145, 158, 171, 0.122) 0 12px 24px -4px !important;
}
.borderCard {
    .v-card {
        box-shadow: none;
        border: 1px solid rgba(var(--v-theme-on-surface), var(--v-border-opacity));
        box-sizing: content-box;
        &.elevation-0 {
            border: 0;
        }
    }
    .layout_navigation {
        box-shadow: none;
        border: 1px solid rgba(var(--v-theme-on-surface), var(--v-border-opacity));
        border-right-width: 1px !important;
    }
}
.v-theme--dark.border_ {
    .v-card {
        box-shadow: none;
        border: 0;
    }
}

.liquid_glass {
    // position: fixed;
    opacity: 1;
    background: light-dark(hsl(0 0% 100% / var(--frost, 0)), hsl(0 0% 0% / var(--frost, 0)));
    box-shadow:
        0 0 2px 1px
            light-dark(
                color-mix(in oklch, canvasText, #0000 85%),
                color-mix(in oklch, canvasText, #0000 90%)
            )
            inset,
        0 0 10px 4px
            light-dark(
                color-mix(in oklch, canvasText, #0000 90%),
                color-mix(in oklch, canvasText, #0000 95%)
            )
            inset,
        0px 4px 16px rgba(17, 17, 26, 0.05),
        0px 8px 24px rgba(17, 17, 26, 0.05),
        0px 16px 56px rgba(17, 17, 26, 0.05),
        0px 4px 16px rgba(17, 17, 26, 0.05) inset,
        0px 8px 24px rgba(17, 17, 26, 0.05) inset,
        0px 16px 56px rgba(17, 17, 26, 0.05) inset;
    .slot-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: inherit;
    }

    .filter {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
}