.d-flex {
    align-items: center;
}

.jsb {
    justify-content: space-between;
}

.arphl {
    background-color: #ddffe9;
}
.v-field__outline {
    color: rgba(var(--v-theme-on-surface), var(--v-border-opacity));
    --v-field-border-opacity: 1 !important;
}
.v-navigation-drawer .v-list {
    position: relative;
    left: -1px;
}
.apexcharts-svg {
    background-color: transparent !important;
}
.text-h7 {
    font-size: 16px;
    font-weight: 500;
}
.v-card {
    border-radius: 6px;
}
.shadowCard {
    .v-card {
        box-shadow: rgba(146, 158, 171, 0.302) 0 0 2px,rgba(145, 158, 171, 0.122) 0 12px 24px -4px;
        &.elevation-0 {
            box-shadow: none;
        }
    }
    .layout_navigation {
        box-shadow: rgba(146, 158, 171, 0.302) 0 0 2px,rgba(145, 158, 171, 0.122) 0 12px 24px -4px;
        &.elevation-0 {
            box-shadow: none;
        }
    }
}
.borderCard {

    .v-card {
        box-shadow: none;
        border: 1px solid rgba(var(--v-theme-on-surface), var(--v-border-opacity));
        &.elevation-0 {
            border: 0;
        }
    }
    .layout_navigation {
        box-shadow: none;
        border: 1px solid rgba(var(--v-theme-on-surface), var(--v-border-opacity));
        border-right-width: 1px !important;
    }
}
.v-theme--dark.border_ {
    .v-card {
        box-shadow: none;
        border: 0;
    }
}

