@import "./variable.scss";
.dashboard_container {
    padding: 30px;
    color: #fff;
    .r_card {
        margin-bottom: 30px;
        .item_header {
            display: flex;
            align-items: center;
            height: 56px;
            padding: 0 16px;
            .title {
                font-weight: 600;
                font-size: 16px !important;
                margin-right: auto;
            }
            border-bottom: 1px solid #1b1b38;
        }
        > i {
            cursor: pointer;
        }
    }
    .card_box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .left {
            width: calc(45% - 15px);
            .card_wrap {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .r_card {
                    width: calc(50% - 15px);
                    .item_header {
                        > i {
                            cursor: pointer;
                            color: #fff;
                            position: relative;
                            right: -5px;
                        }
                    }
                    .item_content {
                        overflow: hidden;
                        position: relative;
                        .chart_wrap {
                            width: calc(100% + 40px);
                            > div {
                                left: -40px;
                            }
                        }
                        .chart_wrap1 {
                            width: calc(100% + 120px);
                            > div {
                                left: -80px;
                                bottom: -40px;
                            }
                        }
                        .tool {
                            width: 100%;
                            position: absolute;
                            left: 0;
                            top: 0;
                            .t {
                                display: flex;
                                align-items: center;
                                padding: 0 16px;
                                height: 45px;
                                justify-content: space-between;
                                .r {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    i {
                                        color: red;
                                    }
                                }
                            }
                            .v {
                                padding: 0 16px;
                            }
                        }
                    }
                }
            }
            .r_card {
                .item_weather {
                    padding: 20px 30px;
                    .weather_header {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .weather_header_left {
                            .city {
                                font-size: 32px;
                                margin-bottom: 20px;
                            }
                            .wd {
                                font-weight: bold;
                            }
                        }
                        .weather_header_right {
                            margin-right: 10px;
                            // animation: tyggxh 10s infinite;
                            i {
                                font-size: 130px;
                                color: #f7de1f;
                            }
                        }
                    }
                    .weather_week {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-top: 16px;
                        padding-top: 20px;
                        .day_item {
                            text-align: center;
                            .lb {
                                color: #ccc;
                            }
                            i {
                                font-size: 35px;
                                margin: 15px 0;
                            }
                        }
                    }
                }
            }
        }
        .right {
            width: calc(55% - 15px);
            .r_card {
                position: relative;
                overflow: hidden;
                .inner_item {
                    width: 60%;
                    height: 100%;
                    position: absolute;
                    right: 0;
                    top: 0;
                    background: rgba($color: #000, $alpha: 0.1);
                    z-index: 1;
                    transition: all 0.3s;
                    .item_header {
                        display: block;
                        padding-top: 15px;
                        padding-left: 35px;
                        height: auto;
                        transition: all 0.3s;
                        .total {
                            font-size: 32px;
                            font-weight: bold;
                        }
                    }
                    .inner_item_content {
                        transition: all 0.3s;
                    }
                    .c {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .row {
                            margin: 0 40px;
                            .bfb {
                                font-size: 30px;
                                font-weight: 700;
                            }
                        }
                        .row_inner {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        .c1 {
                            margin-right: 20px;
                        }
                        .cb {
                            width: 15px;
                            height: 15px;
                            margin-right: 10px;
                        }
                        .cb1 {
                            background: #a16eff;
                        }
                        .cb2 {
                            background: #00d68f;
                        }
                    }
                }
                .inner_item_hide {
                    right: -60%;
                    .item_header {
                        transform: translate(30%, 0);
                    }
                    .inner_item_content {
                        transform: translate(30%, 0);
                    }
                }
                .arrow {
                    position: absolute;
                    right: 16px;
                    top: 16px;
                    z-index: 1;
                    cursor: pointer;
                    i {
                        font-size: 30px;
                    }
                }
            }
            .item_header {
                border-bottom: 0;
            }
            .item_content {
                padding: 0 30px 30px 30px;
                .min_title {
                    margin-bottom: 0;
                }
                .chart_header {
                    height: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-left: 40px;
                    .c {
                        display: flex;
                        align-items: center;
                        .c1 {
                            margin-right: 20px;
                        }
                        .cb {
                            width: 15px;
                            height: 15px;
                            margin-right: 10px;
                        }
                        .cb1 {
                            background: #a16eff;
                        }
                        .cb2 {
                            background: #00d68f;
                        }
                    }
                }
            }
        }
    }
    .camera_play_row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .camera_wrap {
            width: calc(65% - 15px);
            position: relative;
            .r_card {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                transition: all 0.5s;
                .item_header {
                    i {
                        color: #fff;
                    }
                }
                .camera_content {
                    display: flex;
                    flex-wrap: wrap;
                    .camera_item {
                        width: 50%;
                        height: 300px;
                        position: relative;
                        background-size: cover;
                        background-position: center;
                        cursor: pointer;
                        &::after {
                            content: "";
                            display: block;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            left: 0;
                            top: 0;
                            background: rgba($color: #ccc, $alpha: 0.2);
                        }
                        &:hover:after {
                            background: none;
                        }
                        .camera_name {
                            margin: 20px 0 0 20px;
                            line-height: 50px;
                        }
                    }
                }
                .camera_content2 {
                    .camera_item {
                        width: 100%;
                        height: 600px;
                        &::after {
                            display: none;
                            opacity: 0;
                        }
                    }
                }
            }
            .reversal_before {
                position: relative;
                transform: rotateY(0);
                opacity: 1;
                z-index: 2;
            }
            .reversal_after {
                transform: rotateY(180deg);
                opacity: 1;
                z-index: 1;
            }
        }
        .reversal {
            .reversal_before {
                transform: rotateY(-180deg);
                opacity: 1;
                z-index: 1;
            }
            .reversal_after {
                transform: rotateY(0);
                opacity: 1;
                z-index: 2;
            }
        }
        .play_item {
            width: calc(35% - 15px);
            height: 665px;
            overflow: hidden;
            .item_content {
                text-align: center;
                .image {
                    width: 240px;
                    height: 240px;
                    margin: 50px auto 50px auto;
                    background-size: cover;
                }
                .title {
                    text-align: center;
                    font-size: 30px !important;
                }
                .current_time {
                    padding: 30px 30px 0 30px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .t {
                        width: 50px;
                        text-align: center;
                        transform: translate(0, -2px);
                    }
                }
                .btn_g {
                    display: flex;
                    align-items: center;
                    padding: 30px 30px;
                    justify-content: space-around;
                    .py {
                        i {
                            font-size: 50px;
                        }
                    }
                }
            }
            .player_inner {
                position: relative;
                height: 665px;
                .image_bg {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    img {
                        height: 100%;
                        transform: translateX(-50%);
                        filter: blur(30px);
                    }
                }
                .v_system_bar {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    z-index: 3;
                }
                .image {
                    height: 0;
                    padding-top: 260px;
                    width: 100%;
                    left: 0;
                    top: 0;
                    border-radius: 0;
                    overflow: hidden;
                    position: absolute;
                    z-index: 2;
                    transition: all 0.5s linear 0.6s;
                    .image_wrap {
                        position: absolute;
                        width: 100%;
                        height: 0;
                        padding-top: 260px;
                        top: 0;
                        left: 0;
                        .img {
                            width: 100%;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
                .slder_bar {
                    width: 100%;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: 210px;
                    left: 0;
                    background: rgba($color: #ffffff, $alpha: 0.2);
                    z-index: 3;
                    opacity: 1;
                    transition: all 0.3s;
                    .mr-30 {
                        margin-right: 100px;
                    }
                }
                .icon_play {
                    position: absolute;
                    right: 20px;
                    top: 232px;
                    z-index: 3;
                    // transition: all 0.3s linear;
                }
                .v-list {
                    padding-top: 260px;
                    margin-bottom: 20px;
                }
                .v_list_in {
                    @for $i from 1 through 4 {
                        .v-list-item-#{$i} {
                            opacity: 0;
                            animation: itemSlideIn 0.4s linear #{$i / 20}s;
                            animation-fill-mode: forwards;
                        }
                    }
                }
                .v_list_out {
                    @for $i from 1 through 4 {
                        .v-list-item-#{4 + 1 - $i} {
                            animation: slideOutDown 0.4s linear #{$i / 35}s;
                            animation-fill-mode: forwards;
                        }
                    }
                }
                .icon_play_in {
                    animation: iconPlay 0.5s linear;
                    animation-fill-mode: forwards;
                }
                .icon_play_out {
                    animation: iconPlayPause 0.5s linear;
                    animation-fill-mode: forwards;
                }
                .image_in {
                    animation: imagePlay 0.3s linear;
                    animation-fill-mode: forwards;
                }
                .image_out {
                    animation: imagePlayPause 0.5s linear;
                    animation-fill-mode: forwards;
                }
            }
            .play_ing {
                .image {
                    top: 50%;
                    transform: translate(0, -50%) scale(0.6);
                    border-radius: 50%;
                    height: 0;
                    padding-top: 100%;
                    .image_wrap {
                        animation: tyggxh 6s linear 0s infinite;
                        height: 0;
                        padding-top: 100%;
                        .img {
                            height: 100%;
                            width: auto;
                        }
                    }
                }
                .slder_bar {
                    top: initial;
                    bottom: 0;
                    .mr-30 {
                        margin-right: 20px;
                    }
                }
                .icon_play {
                    right: calc(100% / 2 - 28px);
                    top: calc(100% / 2 - 28px);
                }
            }
        }
    }
}
.dashboard__page {
    overflow-x: hidden;
    .v-sheet--offset {
        margin-top: 30px;
        position: relative;
        top: -20px;
        svg {
            padding-bottom: 10px;
        }
    }
}
