// @import url("./variable.scss");
@import "./transition.scss";
@import "./variable.scss";
$cp: #323259;
body {
    font-family: "Roboto", "sans-serif", "Open Sans", "PingFang SC", "Microsoft YaHei", "Helvetica Neue",
        "Hiragino Sans GB", "WenQuanYi Micro Hei", Arial, sans-serif;
    margin: 0;
    padding: 0;
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}
.v-card__actions {
    padding: 16px;
}
.task_form {
    padding: 0 20px;
}
.v-dialog .v-card__actions {
    padding: 20px !important;
}
@import "./keyframes.scss";
@import "./dashboard.scss";
@import "./layout.scss";
@import "./media_inquiry.scss";
