// @import url("./variable.scss");
@import "./transition.scss";
@import "./variable.scss";
@import "./mixins.scss";
body {
    font-family: "Roboto", "sans-serif", "Open Sans", "PingFang SC", "Microsoft YaHei", "Helvetica Neue",
        "Hiragino Sans GB", "WenQuanYi Micro Hei", Arial, sans-serif;
    margin: 0;
    padding: 0;
}
@import "./keyframes.scss";
@import "./dashboard.scss";
@import "./layout.scss";
@import "./media_inquiry.scss";
