.page_root {
    animation: page_layout_animate 0.3s;
    position: relative;
    overflow-x: hidden;
    .page_drawer {
        box-shadow: 2px 0 6px rgba(0, 0, 0, 0.35);
        position: fixed;
        left: 0;
        top: 0;
        .v-navigation-drawer__content {
            height: 100vh;

            @include scrollbarTr;
            .v-responsive {
                border-radius: inherit;
                height: 100%;
                position: absolute;
                top: 0;
                bottom: 0;
                z-index: -1;
                contain: strict;
                width: 100%;
            }
            .v-list {
                .v-list-item--active.primary {
                    color: #ffffff;
                    &::before {
                        opacity: 0;
                    }
                }
                .v_list_group_active {
                    background: rgba($color: #fff, $alpha: 0.3);
                    color: #ffffff;
                }
            }
        }
    }
    .page_right_content {
        margin-left: 256px;
        flex: 1;
        background-color: #eee;
        min-height: 100vh;
        .header {
            width: calc(100vw - 256px);
            background: #eee;
            position: fixed;
            z-index: 3;
        }
    }
    .page_right_content.miniVariant {
        margin-left: 74px;
        .header {
            width: calc(100vw - 74px);
        }
    }
    .page_right_content.darkMode {
        background: #121212;
        color: #ffffff;
        .header {
            background: #121212;
            color: #ffffff;
        }
    }
}
@keyframes page_layout_animate {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.zwf {
    height: 64px;
}
@media screen and (min-width: 860px) and (max-width: 960px) {
    .zwf {
        height: 48px;
    }
}
@media screen and (max-width: 860px) {
    .zwf {
        height: 56px;
    }
}
@media screen and (max-width: 930px) {
    .header {
        .v-input__control {
            min-height: 30px !important;
        }
        .nav-link {
            display: none;
        }
        .nav-link-btn {
            display: none;
        }
        .icon_mine_email {
            display: none !important;
        }
        .min_hide {
            display: none !important;
        }
    }
}
@media screen and (max-width: 1250px) {
    .page_root {
        .page_right_content {
            margin-left: 0;
            flex: 1;
            .header {
                width: 100%;
            }
        }
    }
}
