
.v-layout {
    color: #344767!important;
    background: #f9f9f9;
    .layout_navigation {
        border-radius: 12px;
        .v-list-item__prepend > .v-icon, .v-list-item__append > .v-icon {
            opacity: 1 !important;
        }
        .v-list-item__prepend {
            width: 40px;
            padding-left: 8px;

        }
        .v-list-item-title {
            font-size: 14px;
            font-weight: 400;
            color: #ffffff;
            opacity: 1;
        }
        .v-icon {
            font-size: 24px !important;
        }
        .logo {
            .v-avatar {
                border-radius: 0;
            }
            .v-list-item__content {
                // margin-left: 30px;
                .title {
                    font-size: 18px;
                    font-weight: 700;
                }
                .v-list-item-subtitle {
                    // color: #bc78f2;
                }
            }
            .v-list-item__prepend {
                width: auto;
                padding-left: 0;
            }
        }
    }
    .layout_title {
        // display: flex;
        // align-items: center;
    }
    .app_main {
        margin-top: 16px;
        flex: 1;
        margin-left: 288px;
        padding-right: 16px;
        transition: all 0.2s;
        header {
            background: #ffffff;
            height: 76px;
            display: flex;
            align-items: center;
            border-radius: 10px;
            .header_title {
                .v-breadcrumbs {
                    padding: 0 !important;
                }
                .page_title {
                    font-size: 16px;
                    font-weight: 700;
                }
            }
        }
    }
}

.isMini {
    .layout_navigation {
        .v-list-item__prepend {
            padding-left: 0;
        }

    }
    .app_main {
        margin-left: 108px;
    }
}



