.low_code_page {
    display: flex;
    position: relative;
    // scale: ;
    .tttt {
        background-color: darkorange;
    }

    .v-card.v-card--variant-elevated {
        box-shadow: none;
    }

    .widgets {
        height: calc(100vh - 124px);
        width: 48px;
        position: relative;
        text-align: center;
        overflow: inherit;
        z-index: 3;
        .item {
            position: relative;
        }
        .chart_s {
            display: none;
            width: 228px;
            flex-wrap: wrap;
            position: absolute;
            left: 56px;
            top: 0;
            z-index: 2;
            padding: 4px;
            min-height: 100px;
            .widget_item {
                text-align: center;
                padding: 4px;
            }
        }
        .active {
            .chart_s {
                display: flex;
            }
        }
    }

    .work_area {
        // background: #fff;
        flex: 1;
        height: calc(100vh - 124px);
        overflow: hidden;
        position: relative;
        .ruler {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
        }

        .work_content {
            height: 100%;
            border: 1px solid rgba(186, 186, 186, 0.3);
            overflow: overlay;
            position: absolute;
            z-index: 1;
            width: 100%;
            .scale_wrap {
                width: 1920px;
                height: 1080px;
                position: absolute;
                left: 0;
                transition: all 0.3s;
            }
        }
        .work_content.showGrid {
            border: 0;
        }

        .w_b_tool {
            display: flex;
            position: absolute;
            background: transparent;
            z-index: 2;
            right: 16px;
            top: 0;
        }

        .column_tools {
            position: absolute;
            text-align: center;
            right: 10px;
            top: 8px;
            z-index: 3;
            .v-btn {
                display: block;
            }
            .slider {
                position: absolute;
                left: 0;
                bottom: 0;
                .v-input__control {
                    min-height: 100px;
                }
            }
        }
    }



    .tool_area {
        height: calc(100vh - 124px);
        width: 280px;
        .widget_tools  {
            height: calc(100vh - 424px);
        }
        .widget_layouts  {
            margin-top: 16px;
            height: calc(100vh - 604px);
            .layout_min_wrap {
                padding: 0 16px;
            }
            .layout_min_item {
                line-height: 44px;
                height: 44px;
                padding: 0 16px;
                .mdi {
                    font-size: 16px;
                     color: #999;
                     cursor: pointer;
                }
                .mdi +.mdi {
                    margin-left: 10px;
                }
            }
            .layout_min_item.active {
                background-color: var(--grid);
            }
        }
    }

}

