.low_code_page {
    display: flex;

    .tttt {
        background-color: darkorange;
    }

    .v-card.v-card--variant-elevated {
        box-shadow: none;
    }

    .widgets {
        height: calc(100vh - 124px);
        width: 220px;
        overflow-y: overlay;

        .chart_s {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0 12px;

            .item {
                width: 30%;
                text-align: center;
                margin-bottom: 12px;

                .v-icon {
                    color: #999;
                }
            }
        }
    }

    .work_area {
        // background: #fff;
        flex: 1;
        height: calc(100vh - 124px);
        margin-left: 16px;
        overflow: hidden;
        position: relative;
        .ruler {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
        }

        .work_content {
            height: 100%;
            // border: 1px solid var(--grid);
            overflow: overlay;
            position: absolute;
            z-index: 1;
            width: 100%;
        //     background: -webkit-linear-gradient(top, transparent 15px, var(--grid) 0),
        //     -webkit-linear-gradient(left, transparent 15px, var(--grid) 0);
        // background-size: 16px 16px;
            .scale_wrap {
                width: 1920px;
                height: 1080px;
                position: absolute;
                left: 0;
                transition: all 0.3s;
            }
        }

        .w_b_tool {
            display: flex;
            position: absolute;
            background: transparent;
            z-index: 2;
            right: 16px;
            top: 0;
        }
    }

    .column_tools {
        height: calc(100vh - 124px);
        width: 56px;
        margin-right: 16px;
        position: relative;
        text-align: center;
        .slider {
            position: absolute;
            left: 0;
            bottom: 0;
            .v-input__control {
                min-height: 100px;
            }
        }
    }

    .tool_area {
        height: calc(100vh - 124px);
        width: 320px;
        .widget_tools  {
            height: calc(100vh - 424px);
        }
        .widget_layouts  {
            margin-top: 16px;
            height: calc(100vh - 604px);
            .layout_min_wrap {
                padding: 0 16px;
            }
            .layout_min_item {
                line-height: 44px;
                height: 44px;
                padding: 0 16px;
                .mdi {
                    font-size: 16px;
                     color: #999;
                     cursor: pointer;
                }
                .mdi +.mdi {
                    margin-left: 10px;
                }
            }
            .layout_min_item.active {
                background-color: var(--grid);
            }
        }
    }

}

