@import "./variable.scss";
@media screen and (max-width: 1200px) {
    .task_router_content {
        .down_tip_section {
            width: 100% !important;
        }
        .list_wrap {
            margin: 0 2px 50px 5px !important;
            .inner-head {
                position: absolute !important;
                width: auto !important;
                right: 0;
                bottom: 56px;
                z-index: 2;
                .title {
                    display: none;
                }
            }
            .scroll_wrap {
                height: calc(100vh - 74px) !important;
            }
        }
        .right_section {
            width: 100% !important;
            position: fixed !important;
            bottom: 0;
            height: 60vh !important;
            transition:  all 0.5s;
            transform: translateY(0);
        }
        .hidetaskdetail.right_section {
            transform: translateY(100%);
        }
    }
}
@media screen and (max-width: 1200px) {
    .task_router_content {
        .down_tip_section {
            width: 100% !important;
        }
        .list_wrap {
            margin: 0 2px 50px 5px !important;
            .inner-head {
                position: absolute !important;
                width: auto !important;
                right: 0;
                bottom: 0;
                z-index: 2;
                .title {
                    display: none;
                }
                .min_hide {
                    display: none !important;
                }

            }
            .scroll_wrap {
                height: calc(100vh - 74px) !important;
            }
        }
        .right_section {
            width: 100% !important;
            position: fixed !important;
            bottom: 0;
            height: 60vh !important;
            transition: all 0.5s;
            transform: translateY(0);
            .inner_wrap {
                width: 100% !important;
                background: #fafafa;
                animation: fadeInUp 0.3s linear !important;
                .content-wrap {
                    height: calc(60vh - 64px);
                    overflow-y: auto;
                }
            }
        }
        .hidetaskdetail.right_section {
            transform: translateY(100%);
        }
    }
}
@media screen and (max-width: 1024px) {
    .dashboard_container {
        .card_box {
            .left {
                width: 100%;
            }
            .right {
                width: 100%;
            }
        }
        .camera_play_row {
            .camera_wrap {
                width: 100%;
            }
            .play_item {
                width: 100%;
            }
        }
    }
}
@media screen and (max-width: 960px) {
    .col-sm-12 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media screen and (max-width: 650px) {
    .zwf {
        height: 56px;
    }
    .task_router_content {
        height: calc(100vh - 56px) !important;
        .list_wrap {
            .scroll_wrap {
                height: calc(100vh - 56px) !important;
            }
        }
    }
    .dashboard_container {
        .card_box {
            .left {
                .card_wrap {
                    .r_card {
                        width: 100%;
                    }
                }
            }
        }
    }
    .col-sm-12 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}
