///移动端
.mobile {
    .v-layout {
        .layout_navigation {
            margin: 0!important;
            height: 100vh !important;
            // z-index: 906 !important;
        }
        .app_main {
            margin-left: 0px;
            margin-top: 76px;
            .header {
                left: 0;
                top: 0;
                width: 100vw;
            }
        }
    }
}
