.task_list {
    display: flex;
    margin: 30px;
    position: relative;
    .left_card，.left_card, .center_list_card {
        height: calc(100vh - 124px);
    }
    .left_card {
        width: 260px;
        flex: 0 0 260px;
        margin-right: 30px;
    }
    .center_list_card {
        flex: 1;
        overflow-y: auto;
        position: relative;
        transition: margin-right 0.3s;
        @for $i from 1 through 14 {
          .v-list-item-#{$i} {
            opacity: 0;
            animation: itemSlideIn 0.5s linear #{$i / 20}s;
            animation-fill-mode: forwards;
          }
        }
        .input_wrap {
            padding: 16px;
            display: flex;
            align-items: center;
            background: #ffffff;
            box-shadow: 0 2px 10px -1px rgba(85,85,85,.08),0 1px 10px 0 rgba(85,85,85,.06),0 1px 30px 0 rgba(85,85,85,.03)!important;
            margin-bottom: 16px;
            .input {
                flex: 1;
                height: 44px;
                margin-left: 16px;
                &:focus {
                    outline: none;
                }
            }
        }
    }
    .center_list_card.hasRight {
        margin-right: 330px;
    }
    .right_card {
        height: calc(100vh - 124px);
        position: absolute;
        width: 300px;
        padding: 16px;
        top: 0;
        right: -340px;
        transition: right 0.3s;
    }
    .right_card.hasRight {
        right: 0;
    }
}
