.v-application {
    // 常用内容高度
    --content-height: calc(100vh - 124px);
}
.v-application.v-theme--light {
    --theme-background: 247, 250, 252;
    --v-theme-on-surface: 0,0,0;
    --v-high-emphasis-opacity: 0.87;
    --header-bg: 255, 255, 255;
    --grid: #efefef;
}
.v-application.v-theme--dark {
    --theme-background: 18, 18, 18;
    --v-theme-on-surface: 255,255,255;
    --v-high-emphasis-opacity: 0.87;
    --header-bg: 33, 33, 33;
    --scrollbar: #515151;
    --grid: #2b2b2b;
}
:root {
    --theme-background: 247, 250, 252;
    --scrollbar: #e5e5e5;
}
:root[theme="dark"] {
    --theme-background: 18, 18, 18;
    --scrollbar: #515151;
}
