.v-application.v-theme--light {
    --theme-background: 247, 250, 252;
    --v-theme-on-surface: 0,0,0;
    --v-high-emphasis-opacity: 0.87;
    --header-bg: 255, 255, 255;
}
.v-application.v-theme--dark {
    --theme-background: 18, 18, 18;
    --v-theme-on-surface: 255,255,255;
    --v-high-emphasis-opacity: 0.87;
    --header-bg: 33, 33, 33;
}
