.oreom-editor {
    display: flex;
    position: relative;
    .v-card.v-card--variant-elevated {
        box-shadow: none;
    }

    .widgets_area {
        width: 40px;
        position: relative;
        text-align: center;
        overflow: inherit;
        z-index: 3;
        .item {
            position: relative;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .works_area {
        flex: 1;
        position: relative;
        height: calc(100vh - 124px);
        overflow: auto;

        .work_content {
            width: 1080px;
            margin: 0 auto;
            background: #fff;
            position: relative;
            min-height: 300px;
            .layerTree {
                position: relative;
                margin: 4px;
                z-index: 1;
            }
            .dragArea {
                z-index: 2;
                position: absolute;
                left: 0;
                top: 0;
                border: 1px dashed slateblue;
                width: 100%;
                height: 100%;
            }
        }

        .w_b_tool {
            display: flex;
            position: absolute;
            background: transparent;
            z-index: 2;
            right: 16px;
            top: 0;
        }
    }


    .column_tools {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 280px;
        top: 0;
        // position: absolute;
        // text-align: center;
        // right: 0;
        // top: 0;
        // z-index: 3;
        // top: 0;
        // .v-btn {
        //     display: block;
        // }
        // .slider {
        //     position: absolute;
        //     left: 0;
        //     bottom: 0;
        //     .v-input__control {
        //         min-height: 100px;
        //     }
        // }
    }
    .tools_area {
        height: calc(100vh - 124px);
        width: 280px;
        overflow-y: auto;
        .widget_tools {
            height: calc(100vh - 424px);
        }
        .widget_layouts {
            margin-top: 16px;
            height: calc(100vh - 604px);
            .layout_min_wrap {
                padding: 0 16px;
            }
            .layout_min_item {
                line-height: 44px;
                height: 44px;
                padding: 0 16px;
                .mdi {
                    font-size: 16px;
                    color: #999;
                    cursor: pointer;
                }
                .mdi + .mdi {
                    margin-left: 10px;
                }
            }
            .layout_min_item.active {
                background-color: var(--grid);
            }
        }
    }
    .contextmenu {
        position: fixed;
        left: 200px;
        top: 300px;
        z-index: 999;
        .layout_min_item {
            line-height: 36px;
            height: 36px;
            padding: 0 16px;
            cursor: pointer;
            &:hover {
                background-color: var(--grid);
            }
        }
    }
    .input_row {
        align-items: center;
        padding: 16px;
        justify-content: space-around;

    }
    .input_item {
        display: flex;
        align-items: center;
        .label {
            color: rgb(128,128,128);
        }
        input {
            flex: 1;
            margin-left: 8px;
            width: 70px;
            height: 32px;
            border-radius: 43px;
            padding: 0 8px;
            background: #efefef;
        }
    }
    .slider {
        .v-slider__label {
            width: 60px;
            font-size: 14px;
            color: rgb(128,128,128);
            opacity: 1;
        }
    }
    .alignment {
        flex-wrap: wrap;
        .item {
            width: 50%;
            margin-top: 16px;
            .label {
                color: rgb(128,128,128);
            }
            // justify-content: f;
            display: block;
        }
    }
    .textarea {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;

    }
}
