.threejs_page[data-v-8ff6a560]{position:relative}.threejs_page .op[data-v-8ff6a560]{width:300px;position:absolute;right:16px;top:16px}#threejs2[data-v-8ff6a560]{width:100%;height:calc(100vh - 124px)}
